@page
@model RecipeRedux.Pages.PantryModel
@{

}

<h1>Your Pantry</h1>

<div>
    <h2>Ingredients</h2>
    <ul>
        @foreach (var ingredient in Model.PantryIngredients)
        {
            <li>
                @ingredient.Name
                <button type="button" onclick="removeIngredient(@ingredient.IngredientId)">Remove</button>
            </li>
        }
    </ul>
</div>

@section Scripts {
    <script>
        function removeIngredient(ingredientId) {
            // Implement later
        }
    </script>
}